/* ! importing poppins font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* ! all reset and reusable styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
h1,
h2,
h4,
h5 {
	color: #414040;
}
p {
	font-size: 14px;
	color: #707070;
}
section {
	padding-top: 100px;
}
.section-info {
	max-width: 700px;
	padding: 0 20px;
	text-align: center;
	margin: auto;
}
/* ! resizing the logo */
.navbar-brand img {
	max-width: 120px;
}

/* ! over righting bootstrap nav toggler styles  */
.navbar-toggler {
	border: none;
}
.navbar-toggler:focus {
	box-shadow: none;
}
/* ! custom button */
.j-btn-primary {
	background-color: #b68c5a;
	color: #fff;
}
.j-btn-primary:hover {
	background-color: #b67e38;
	color: #fff;
}
/* ! banner styles */
.banner {
	padding: 100px 0;
	background-image: url('../images/Rectangle\ 6.png');
	background-size: cover;
	background-position: center;
}
.banner-wrapper {
	max-width: 800px;
}
.header-title {
	font-size: 60px;
}
/* ! resizing the img in legal section */
.legal-img {
	width: 100px;
	height: 100px;
}

/* ! clients feedback section */
.carousel-item-1 {
	background-image: url('../images/carousel-1.jpg');
}
.carousel-item-2 {
	background-image: url('../images/carousel-2.jpg');
}
.carousel-item-3 {
	background-image: url('../images/carousel-3.jpg');
}
.carousel-item-1,
.carousel-item-2,
.carousel-item-3 {
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.48);
	background-blend-mode: overlay;
}
.client-img {
	width: 100px;
	height: 100px;
	/* border: 5px solid #fff; */
}
.carousel-description {
	max-width: 650px;
	margin: auto;
	padding: 0 10px;
}

/* ! faq section  */
.accordion-item {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #e7e7e7;
}
/* over righting bootstrap */
.accordion-button:focus {
	box-shadow: none;
	border: none;
}
.accordion-button,
.accordion-button:not(.collapsed) {
	color: #000;
	background-color: #e7e7e7;
	box-shadow: none;
}

/* ! contact section */
.contact-bg-color {
	background-color: rgb(242, 241, 241);
}
.form-control {
	border: 2px solid rgba(242, 241, 241, 0.02);
}
.form-control:focus {
	box-shadow: none;
	border: 2px solid #b68c5a;
}
@media only screen and (max-width: 768px) {
	.header-title {
		font-size: 40px;
	}
}
